* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
/*Navbar*/

li {
    display: inline;
    margin: 19px;
}

#nav {
    list-style-type: none;
    background-color: #10243B;
    color: white;
    padding: 15px;
    padding-right: 0px;
    margin: 0px;
    text-transform: uppercase;
}

ul:first-child {
    margin: 0px;
    padding: 0px;
}

li:nth-child(7) {
    padding-right: 100px;
}

#bluebox {
    background-color: #0088cc;
    padding-bottom: 15px;
    padding-top: 31px;
    padding-right: 108px;
    margin-right: 0px;
}
/*Hero*/
#Hero {
    background-color: rgba(0, 0, 0, 0);
    background: linear-gradient(rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0) 56%, rgba(51, 51, 51, 0) 100%), url(images/graduation.jpg);
    background-repeat: none;
    background-size: cover;
    width: 99.1vw;
    height: 100vh;
}

#Hero img {
    position: relative;
    top: 175px;
    left: 100px;
}

#Herotxt {
    position: relative;
    margin-left: 400px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 3px #333333;
    font-size: 1rem;
}

#bold {
    font-style: bold;
}

#italics {
    font-style: italic;
}
/*ExploreCCHS*/
#explorecchs {
    width: 100vw;
    height: 450px;
    margin: 0px;
    padding: 0px;
}

#explorerheader {
    width: 100vw;
    height: 81px;
    background-color: #10243B;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#exploresection {
    height: 369px;
    width: 100%;
    background: red;
    float: right;
}

#hurricane {
    height: 369px;
    width: 25%;
    background-image: url(images/patriots\ plaza.jpg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    float: left;
    text-align: center;
}

#Guidance {
    height: 369px;
    width: 25%;
    background-image: url(images/college.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    float: left;
}

#CCNN {
    height: 369px;
    width: 25%;
    background-image: url(images/ccnn.jpg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    float: left;
}

#CCNLIVE {
    height: 369px;
    width: 25%;
    background-image: url(images/ccnn\ live.png);
    background-position: center;
    background-size: 369px;
    background-repeat: no-repeat;
    float: left;
}

.red {
    color: red;
    text-align: center;
}

.center {
    text-align: center
}

.left {
    float: left;
}

.right{
    float: right
}

/*CCHS at a Glance*/

#exploretext {
    padding-top: 184px;
    text-align: center;
    color: white;
}

#cchsglance {
    width: 100vw;
    height: 1000px;
    margin: 0px;
    padding: 0px;
}

#glanceheader {
    text-align: center;
    color: #10243B;
}

#carousel {
    height: 1000px;
    width: 100%;
    padding-top: 200px;
}

#money {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 200px;
}

#graduation {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 200px;
}

#book {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 200px;
}

#students {
    height: 300px;
    width: 300px;
    float: left;
}

#bluebar
{
    background-color: #10243B;
    width: 1000px;
    margin-bottom: 100px;
    height: 200px;
    margin-left: 450px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 28px;
}

/*Colleges*/

#colleges
{padding-bottom: 200px;}


#yale {
    margin-right: 100px;
}
#um{
    margin-right: 100px;
   
}
#MIT{
    margin-right: 100px;
}
#UNC{
    margin-right: 100px;
}

/*Footer*/

#footernav{
    list-style-type: none;
    background-color: #10243B;
    color: white;
    padding: 15px;
}

#footer{
 background-color: #333333;
 width: 100vw;
 height: 500px;
 color: #ffffff;
}

#footetext{
    line-height: 20px;
    color: white;
}
#missionstatement{
    padding-right: 800px;
    color: white
}

#cchscrest{
    padding-right: 100px;

}