body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif

}


li {
    display: inline;
    margin: 25px;
}

#nav {
    list-style-type: none;
    background-color: #10243B;
    color: white;
    padding: 25px;
    margin: 0px;
}


img {
    width: 100%;
}

ul:first-child {
    margin: 0px;
    padding: 0px;
}

#Hero{
    background-image: url(images/fans.jpg);
    background-repeat: none;
    background-size: cover;
    width: 98.3vw;
    height: 100vh;
}
#left
{
    float: left;

}
#right
{
    float: right;
}